{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<h2>Booking Details</h2>
{% if bookings %}
    <table>
        <tr>
            <th>Customer</th>
            <th>Table Number</th>
            <th>Booking Time</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.user.username }}</td>
            <td>{{ booking.table.table_number }}</td>
            <td>{{ booking.booking_time }}</td>
            <td>
            <a href="{% url 'Update' booking.id %}">Update</a>
            </td>
            <td>
            <a href="{% url 'delete' booking.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No bookings found for this user</p>
{% endif %}

</body>
{% endblock %}
